openapi: 3.1.0
info:
  title: Agent Analytics API
  version: 1.0.0
  description: |
    Web analytics platform with an HTTP API that AI agents can query.

    **[Homepage](https://agentanalytics.sh)** · **[Dashboard](https://app.agentanalytics.sh)** · **[Blog](https://blog.agentanalytics.sh)** · **[GitHub](https://github.com/Agent-Analytics)**

    ## Getting Started

    ### 1. Get your API key

    Sign up at [app.agentanalytics.sh](https://app.agentanalytics.sh) and generate an API key from the dashboard.

    ### 2. Connect your AI agent

    See the [MCP Server](#section/MCP-Server) section below for Claude, Cursor, Codex, and other MCP clients.

    For direct API access:
    ```bash
    curl -X POST "https://api.agentanalytics.sh/projects" \
      -H "X-API-Key: aak_..." \
      -H "Content-Type: application/json" \
      -d '{"name": "my-site"}'
    ```

    ### 3. Add tracking to your site

    Your agent creates a project and returns a tracking snippet — add it before `</body>`:

    ```html
    <script defer src="https://api.agentanalytics.sh/tracker.js"
            data-project="my-site" data-token="aat_..."></script>
    ```

    Page views are tracked automatically. Add custom events with `data-aa-event` attributes (no JavaScript needed) or `window.aa.track()` for dynamic events. See the [`GET /tracker.js`](#tag/tracking/GET/tracker.js) endpoint for full documentation.

    ### 4. Query your data

    Ask your AI agent "How's my site doing?" — it queries analytics, experiments, and traffic. Or call the API directly:

    ```bash
    curl "https://api.agentanalytics.sh/stats?project=my-site&since=7d" \
      -H "X-API-Key: aak_..."
    ```

    ### 5. Run experiments

    A/B test headlines, CTAs, and layouts — all managed by your agent. See the [Experiments](#tag/Experiments) section for details.

    ## Authentication

    ### API Key (`aak_*`) — for reading data & project management
    Passed via the `X-API-Key` header or `?key=` query parameter. **Keep this secret.**
    Used for all read endpoints (`/stats`, `/events`, `/query`, etc.) and project management (`/projects`, `/account`).

    ### Project Token (`aat_*`) — for event ingestion
    Passed in the request body as `token`. This is a **public** identifier embedded in your site's HTML — not a secret.
    Used only for `POST /track` and `POST /track/batch`.

    ## MCP Server (Claude, Cursor, etc.)

    Connect Agent Analytics directly to Claude, Cursor, or any MCP-compatible AI client — no API key management needed.

    **URL:** `https://mcp.agentanalytics.sh/mcp`

    ### Add to Claude Desktop / claude.ai
    Click **Settings → Connectors → Add → Custom** and enter `https://mcp.agentanalytics.sh/mcp`. You'll sign in with GitHub or Google (must match your Agent Analytics account).

    ### Add to Claude Code

    **Plugin (recommended)** — installs MCP server + analytics skill in one step:
    ```bash
    /plugin marketplace add Agent-Analytics/agent-analytics-plugin
    /plugin install agent-analytics
    ```

    **Manual** — MCP server only:
    ```bash
    claude mcp add agent-analytics --transport http https://mcp.agentanalytics.sh/mcp
    ```

    ### Agent Skill (Claude Code, Codex, and more)

    Install the analytics skill into any agent that supports the [Agent Skills](https://skills.sh) spec:
    ```bash
    npx skills add Agent-Analytics/agent-analytics-mcp
    ```
    Works with Claude Code, OpenAI Codex, and other compatible agents. Teaches your agent how to set up tracking, query analytics, run A/B experiments, and interpret results — no MCP required.

    ### Add to Cursor
    1. Open Command Palette (`Cmd+Shift+P` on Mac, `Ctrl+Shift+P` on Windows)
    2. Search for "MCP" and select **Cursor Settings > Tools & MCP**
    3. Click **Add Custom MCP**
    4. Add the following to your `mcp.json`:
    ```json
    {
      "mcpServers": {
        "agent-analytics": {
          "url": "https://mcp.agentanalytics.sh/mcp"
        }
      }
    }
    ```

    ### Available MCP Tools

    | Tool | Description |
    |------|-------------|
    | `list_projects` | List all your projects |
    | `create_project` | Create a new project (returns tracker snippet) |
    | `analytics_overview` | Time series chart + KPIs (events, users) over N days |
    | `analytics_insights` | Period-over-period comparison with trend |
    | `analytics_breakdown` | Top property values (pages, referrers, UTM sources) |
    | `analytics_pages` | Entry/exit page stats with bounce rate |
    | `analytics_sessions` | Session duration histogram |
    | `analytics_heatmap` | Day-of-week x hour traffic grid |
    | `analytics_funnel` | Funnel analysis: where users drop off |
    | `properties` | Discover event names and property keys |
    | `properties_received` | Property keys by event name (sampled) |
    | `sessions` | List individual session records |
    | `list_experiments` | List A/B experiments |
    | `create_experiment` | Create an A/B experiment |
    | `get_experiment` | Get experiment details with results |
    | `update_experiment` | Update experiment status (pause/resume/complete) |
    | `delete_experiment` | Delete an experiment |
    | `live_now` | Real-time snapshot (active visitors, events/min) |

    ## CLI vs API

    You can use the [CLI](https://www.npmjs.com/package/@agent-analytics/cli) or call the API directly. Every CLI command maps to an API endpoint.

    | CLI Command | API Endpoint |
    |---|---|
    | `npx @agent-analytics/cli stats my-site` | `GET /stats?project=my-site` |
    | `npx @agent-analytics/cli events my-site` | `GET /events?project=my-site` |
    | `npx @agent-analytics/cli query --project my-site --metrics event_count` | `POST /query` |
    | `npx @agent-analytics/cli experiments list my-site` | `GET /experiments?project=my-site` |
    | `npx @agent-analytics/cli funnel my-site --steps "page_view,signup,purchase"` | `POST /funnel` |
    | `npx @agent-analytics/cli retention my-site --period week --cohorts 8` | `GET /retention?project=my-site&period=week&cohorts=8` |
    | `npx @agent-analytics/cli experiments create my-site --name signup_cta --variants control,new_cta --goal signup` | `POST /experiments` |
    | `npx @agent-analytics/cli experiments get exp_abc123` | `GET /experiments/{id}` |
    | `npx @agent-analytics/cli projects` | `GET /projects` |

    ## Rate Limits

    | Tier | Requests/min | Event Limit | Data Retention |
    |------|-------------|-------------|----------------|
    | Free | 10 | 1,000 lifetime | 7 days |
    | Pro  | 1,000 | Unlimited | 365 days |

    Experiments (A/B testing) are **pro-only** features. Free tier accounts receive `PRO_REQUIRED`.

    ### Streaming Limits

    | Limit | Value |
    |-------|-------|
    | Concurrent SSE streams | 10 per account |
    | `/live` rate | Standard API rate limit |
    | Inactivity timeout | 30 minutes |
    | Ring buffer | 5 minutes / 10,000 events |

    ## Error Format

    All errors return JSON with `error` (machine-readable code) and `message` (human-readable):
    ```json
    { "error": "AUTH_REQUIRED", "message": "API key required" }
    ```

    Common error codes: `AUTH_REQUIRED`, `FORBIDDEN`, `PROJECT_REQUIRED`, `MISSING_FIELDS`, `RATE_LIMITED`, `INVALID_TOKEN`, `BATCH_TOO_LARGE`, `INVALID_METRIC`, `INVALID_GROUP_BY`, `INVALID_FILTER_OP`, `INVALID_PROPERTY_KEY`, `NOT_FOUND`, `EXPERIMENT_NOT_FOUND`, `EXPERIMENT_NAME_EXISTS`, `INVALID_VARIANTS`, `INVALID_EXPERIMENT_STATUS`, `PRO_REQUIRED`, `STREAM_LIMIT`, `INVALID_FUNNEL_STEPS`.

  contact:
    email: support@agentanalytics.sh
    url: https://agentanalytics.sh
  license:
    name: MIT
    url: https://github.com/Agent-Analytics/agent-analytics/blob/main/LICENSE

servers:
  - url: https://api.agentanalytics.sh
    description: Production (hosted)

tags:
  - name: Ingestion
    description: Event tracking endpoints called by the browser `tracker.js` script. These use a public project token (`aat_*`) — not your API key. You don't call these directly; the tracker handles it.
  - name: Analytics
    description: Query analytics data. Requires an API key (`aak_*`) via `X-API-Key` header or `?key=` param.
  - name: Projects
    description: Manage projects programmatically. Requires an API key.
  - name: Account
    description: Account information and key management. Requires an API key.
  - name: Experiments
    description: |
      A/B testing experiments. Create experiments, assign variants client-side via tracker.js, and query results with Bayesian significance. Pro tier only.

      ## Declarative Experiments (recommended)

      The simplest way to run experiments — no custom JavaScript needed. Mark elements with HTML attributes and tracker.js handles variant assignment automatically.

      ### Anti-Flicker Snippet

      Add this in `<head>` **before** the tracker.js script tag to prevent flash of control content:

      ```html
      <style>.aa-loading [data-aa-experiment]{visibility:hidden!important}</style>
      <script>document.documentElement.classList.add('aa-loading');
      setTimeout(function(){document.documentElement.classList.remove('aa-loading')},3000)</script>
      ```

      - Uses `visibility: hidden` to preserve layout (not `display: none`)
      - Only hides `[data-aa-experiment]` elements, not the entire page
      - 3-second timeout fallback shows control content if config fetch fails
      - tracker.js removes the `aa-loading` class after applying variants

      ### Declarative Attributes

      ```html
      <h1 data-aa-experiment="hero_text"
          data-aa-variant-b="Try it free today!">
        Start your free trial
      </h1>
      ```

      - Original element content = control variant
      - `data-aa-variant-{key}` attributes provide replacement text for non-control variants
      - Multiple elements can share the same experiment name (same variant assigned to all)
      - Variant keys are lowercased for attribute lookup
      - Requires a server-side experiment config (created via `POST /experiments`)

      ### Programmatic API

      For complex cases that can't be expressed as text swaps:

      ```js
      var variant = window.aa?.experiment('signup_cta', ['control', 'new_cta']);
      if (variant === 'new_cta') {
        document.querySelector('.cta').style.backgroundColor = 'green';
      }
      ```

      ### URL Param Variant Forcing

      Force a specific variant via URL parameter — useful for ad landing pages, QA testing, or sharing a specific variant with teammates.

      ```
      https://yoursite.com/pricing/?aa_variant_signup_cta=new_cta
      ```

      Format: `?aa_variant_<experiment_name>=<variant_key>`

      - The forced variant must exist in the experiment config — invalid values fall through to normal hash assignment
      - Works with both declarative and programmatic experiments
      - Exposure events include `forced: true` so you can filter them in analytics
      - No URL param = existing hash-based assignment (backward compatible)
  - name: Funnels
    description: |
      Ad-hoc funnel analysis — track where users drop off across a sequence of events.
      No saved funnels — agents query in one shot via `POST /funnel`.
  - name: Streaming
    description: |
      Real-time event streaming. Available on all tiers.

      Two endpoints: `/stream` for continuous SSE event delivery, and `/live` for a point-in-time snapshot of active visitors and recent events. Both read from an in-memory ring buffer — no D1 query.
  - name: Tracking
    description: JavaScript tracker script and client-side configuration.

components:
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        Secret API key (`aak_*`) for reading data and managing projects. Can also be passed as `?key=` query parameter.
    ProjectToken:
      type: apiKey
      in: query
      name: token
      description: |
        Public project token (`aat_*`) for event ingestion. Passed in the request body (not a query parameter).
        This is not a secret — it's embedded in your site's HTML.

  schemas:
    Error:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
          description: Machine-readable error code
          example: AUTH_REQUIRED
        message:
          type: string
          description: Human-readable error message
          example: API key required

    TrackRequest:
      type: object
      required: [token, event]
      properties:
        token:
          type: string
          description: Project token (`aat_*`)
          example: aat_51da22cdcab084ae1cdb50fd4841c642f0dafdb1d9adfa6b
        event:
          type: string
          description: Event name (max 256 chars)
          example: page_view
        properties:
          type: ['object', 'null']
          description: Arbitrary key-value properties (max 8KB JSON). The tracker auto-populates `path`, `url`, `hostname`, `title`, `referrer`, `screen`, `browser`, `browser_version`, `os`, `device`, `language`, and `utm_*` params.
          example:
            path: /pricing
            referrer: https://google.com
            browser: Chrome
            os: macOS
        user_id:
          type: ['string', 'null']
          description: Anonymous user identifier (max 256 chars). The tracker auto-generates one via localStorage.
          example: usr_abc123
        session_id:
          type: ['string', 'null']
          description: Session identifier (max 256 chars). The tracker auto-generates one via sessionStorage with 30-min inactivity timeout.
          example: ses_xyz789
        timestamp:
          type: ['number', 'null']
          description: Unix timestamp in milliseconds. Defaults to `Date.now()`. Must be within 30 days ago to 5 minutes in the future.
          example: 1706745600000

    TrackBatchRequest:
      type: object
      required: [events]
      properties:
        events:
          type: array
          description: Array of events (max 100 per batch)
          maxItems: 100
          items:
            type: object
            required: [token, event]
            properties:
              token:
                type: string
                description: Project token (`aat_*`). All events must use the same token.
                example: aat_51da22cdcab084ae1cdb50fd4841c642f0dafdb1d9adfa6b
              event:
                type: string
                example: page_view
              properties:
                type: ['object', 'null']
              user_id:
                type: ['string', 'null']
              session_id:
                type: ['string', 'null']
              timestamp:
                type: ['number', 'null']

    StatsResponse:
      type: object
      properties:
        project:
          type: string
          example: my-site
        period:
          type: object
          properties:
            from:
              type: string
              example: "2025-01-01"
            to:
              type: string
              example: "2025-01-07"
            groupBy:
              type: string
              enum: [hour, day, week, month]
              example: day
        totals:
          type: object
          properties:
            unique_users:
              type: integer
              example: 142
            total_events:
              type: integer
              example: 1247
        timeSeries:
          type: array
          items:
            type: object
            properties:
              bucket:
                type: string
                example: "2025-01-01"
              unique_users:
                type: integer
              total_events:
                type: integer
        events:
          type: array
          description: Top event names by count (max 20)
          items:
            type: object
            properties:
              event:
                type: string
                example: page_view
              count:
                type: integer
              unique_users:
                type: integer
        sessions:
          type: object
          properties:
            total_sessions:
              type: integer
            bounce_rate:
              type: number
              example: 0.45
            avg_duration:
              type: integer
              description: Average session duration in milliseconds
            pages_per_session:
              type: number
            sessions_per_user:
              type: number

    EventRow:
      type: object
      properties:
        id:
          type: string
        project_id:
          type: string
        event:
          type: string
        properties:
          type: ['object', 'null']
        user_id:
          type: ['string', 'null']
        session_id:
          type: ['string', 'null']
        timestamp:
          type: number
        date:
          type: string
        country:
          type: ['string', 'null']
          description: ISO 3166-1 alpha-2 country code derived from the request IP at ingestion time
          example: US

    QueryRequest:
      type: object
      required: [project]
      properties:
        project:
          type: string
          description: Project name
          example: my-site
        metrics:
          type: array
          items:
            type: string
            enum: [event_count, unique_users, session_count, bounce_rate, avg_duration]
          default: [event_count]
          description: Metrics to compute
        group_by:
          type: array
          items:
            type: string
            enum: [event, date, user_id, session_id, country]
          default: []
          description: Fields to group results by
        filters:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
                description: "Field to filter on. Built-in: `event`, `user_id`, `date`, `country`, `session_id`, `timestamp`. Property fields: `properties.path`, `properties.browser`, etc."
                example: event
              op:
                type: string
                enum: [eq, neq, gt, lt, gte, lte, contains]
                example: eq
              value:
                description: Value to compare against
                example: page_view
        date_from:
          type: string
          description: Start date (ISO 8601 or `Nd` shorthand). Defaults to 7 days ago.
          example: "2025-01-01"
        date_to:
          type: string
          description: End date (ISO 8601). Defaults to today.
          example: "2025-01-07"
        order_by:
          type: string
          enum: [event_count, unique_users, session_count, date, event]
          description: Field to sort by
        order:
          type: string
          enum: [asc, desc]
          default: desc
        limit:
          type: integer
          default: 100
          maximum: 1000
          minimum: 1

    QueryResponse:
      type: object
      properties:
        project:
          type: string
        period:
          type: object
          properties:
            from:
              type: string
            to:
              type: string
        metrics:
          type: array
          items:
            type: string
        group_by:
          type: array
          items:
            type: string
        rows:
          type: array
          items:
            type: object
            additionalProperties: true
        count:
          type: integer

    SessionRow:
      type: object
      properties:
        session_id:
          type: string
        user_id:
          type: ['string', 'null']
        project_id:
          type: string
        start_time:
          type: number
        end_time:
          type: number
        duration:
          type: integer
          description: Duration in milliseconds
        entry_page:
          type: ['string', 'null']
        exit_page:
          type: ['string', 'null']
        event_count:
          type: integer
        is_bounce:
          type: integer
          enum: [0, 1]
        date:
          type: string

    BreakdownResponse:
      type: object
      properties:
        project:
          type: string
        property:
          type: string
          example: path
        event:
          type: ['string', 'null']
        values:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
                example: /pricing
              count:
                type: integer
                example: 342
              unique_users:
                type: integer
                example: 201
        total_events:
          type: integer
        total_with_property:
          type: integer

    InsightsResponse:
      type: object
      properties:
        project:
          type: string
        current_period:
          type: object
          properties:
            from:
              type: string
            to:
              type: string
        previous_period:
          type: object
          properties:
            from:
              type: string
            to:
              type: string
        metrics:
          type: object
          properties:
            total_events:
              $ref: '#/components/schemas/DeltaMetric'
            unique_users:
              $ref: '#/components/schemas/DeltaMetric'
            total_sessions:
              $ref: '#/components/schemas/DeltaMetric'
            bounce_rate:
              $ref: '#/components/schemas/DeltaMetric'
            avg_duration:
              $ref: '#/components/schemas/DeltaMetric'
        trend:
          type: string
          enum: [growing, stable, declining]

    DeltaMetric:
      type: object
      properties:
        current:
          type: number
        previous:
          type: number
        change:
          type: number
        change_pct:
          type: ['integer', 'null']
          description: Percentage change. Null when previous period was 0 but current is > 0.

    PagesResponse:
      type: object
      properties:
        project:
          type: string
        entry_pages:
          type: array
          items:
            $ref: '#/components/schemas/PageRow'
        exit_pages:
          type: array
          items:
            $ref: '#/components/schemas/PageRow'

    PageRow:
      type: object
      properties:
        page:
          type: string
          example: /pricing
        sessions:
          type: integer
        bounces:
          type: integer
        bounce_rate:
          type: number
          example: 0.45
        avg_duration:
          type: number
          description: Average session duration in milliseconds
        avg_events:
          type: number

    SessionDistributionResponse:
      type: object
      properties:
        project:
          type: string
        distribution:
          type: array
          items:
            type: object
            properties:
              bucket:
                type: string
                enum: ["0s", "1-10s", "10-30s", "30-60s", "1-3m", "3-10m", "10m+"]
              sessions:
                type: integer
              bounces:
                type: integer
              avg_events:
                type: number
              pct:
                type: number
                description: Percentage of total sessions
        median_bucket:
          type: ['string', 'null']
        engaged_pct:
          type: number
          description: Percentage of sessions >= 30 seconds

    HeatmapResponse:
      type: object
      properties:
        project:
          type: string
        heatmap:
          type: array
          items:
            type: object
            properties:
              day:
                type: integer
                description: Day of week (0=Sunday, 6=Saturday)
              day_name:
                type: string
                example: Monday
              hour:
                type: integer
                description: Hour of day (0-23)
              events:
                type: integer
              users:
                type: integer
        peak:
          type: ['object', 'null']
          properties:
            day:
              type: integer
            day_name:
              type: string
            hour:
              type: integer
            events:
              type: integer
            users:
              type: integer
        busiest_day:
          type: ['string', 'null']
          example: Monday
        busiest_hour:
          type: ['integer', 'null']
          example: 14

    FunnelRequest:
      type: object
      required: [project, steps]
      properties:
        project:
          type: string
          description: Project name
          example: my-site
        steps:
          type: array
          description: "Funnel steps (2-8). Each step has an event name and optional property filters."
          minItems: 2
          maxItems: 8
          items:
            type: object
            required: [event]
            properties:
              event:
                type: string
                description: Event name for this step
                example: page_view
              filters:
                type: array
                description: Optional property filters for this step
                items:
                  type: object
                  required: [property, op, value]
                  properties:
                    property:
                      type: string
                      description: Property key (alphanumeric + underscores, max 128 chars)
                      example: path
                    op:
                      type: string
                      enum: [eq, neq, contains]
                      description: Filter operator
                      example: eq
                    value:
                      type: string
                      description: Filter value
                      example: /pricing
        conversion_window_hours:
          type: number
          description: "Max hours from step 1 entry to final step (1-8760, default 168 = 7 days)"
          default: 168
          minimum: 1
          maximum: 8760
        since:
          type: string
          description: "Lookback period (ISO date or shorthand like '30d'). Default: 30d"
          default: 30d
          example: 30d
        count_by:
          type: string
          enum: [user_id, session_id]
          default: user_id
          description: Count by unique users or sessions
        breakdown:
          type: string
          description: "Optional property key to segment funnel by (e.g. 'variant', 'country'). Extracted from step 1 events only."
          example: country
        breakdown_limit:
          type: number
          description: "Max breakdown groups, ordered by step 1 users descending (1-50, default 10)"
          default: 10
          minimum: 1
          maximum: 50

    FunnelResponse:
      type: object
      properties:
        steps:
          type: array
          items:
            type: object
            properties:
              step:
                type: integer
                example: 1
              event:
                type: string
                example: page_view
              users:
                type: integer
                description: Number of users (or sessions) that reached this step
                example: 500
              conversion_rate:
                type: number
                description: "Fraction of users from previous step that reached this step (step 1 is always 1.0)"
                example: 0.6
              drop_off_rate:
                type: number
                description: "Fraction of users lost from previous step (step 1 is always 0)"
                example: 0.4
              avg_time_to_next_ms:
                type: ['number', 'null']
                description: Average time in ms from this step to the next step (null for last step)
                example: 3600000
        overall_conversion_rate:
          type: number
          description: Fraction of step 1 users that completed the final step
          example: 0.12
        breakdowns:
          type: array
          description: "Per-group funnel results (only present when `breakdown` param is set). Ordered by step 1 users descending."
          items:
            type: object
            properties:
              value:
                type: ['string', 'null']
                description: "Breakdown property value (null for events missing the property)"
                example: US
              steps:
                type: array
                description: Same shape as top-level steps array
                items:
                  type: object
                  properties:
                    step:
                      type: integer
                    event:
                      type: string
                    users:
                      type: integer
                    conversion_rate:
                      type: number
                    drop_off_rate:
                      type: number
                    avg_time_to_next_ms:
                      type: ['number', 'null']
              overall_conversion_rate:
                type: number
                description: End-to-end conversion for this group
                example: 0.15

    RetentionResponse:
      type: object
      properties:
        period:
          type: string
          enum: [day, week, month]
          example: week
        cohorts:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
                description: Start date of this cohort period
                example: "2026-01-27"
              users:
                type: integer
                description: Number of users who first appeared in this period
                example: 142
              retained:
                type: array
                items:
                  type: integer
                description: "Users active in each subsequent period (index 0 = full cohort)"
                example: [142, 64, 55, 46]
              rates:
                type: array
                items:
                  type: number
                description: "Retention rate per period (retained[i] / users, rounded to 3 decimals)"
                example: [1.0, 0.451, 0.387, 0.324]
        average_rates:
          type: array
          items:
            type: number
          description: Weighted average retention rate per period offset (weighted by cohort size)
          example: [1.0, 0.441, 0.373, 0.324]
        users_analyzed:
          type: integer
          description: Total users across all cohorts (capped at 10K per query)
          example: 560

    Project:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: my-site
        project_token:
          type: string
          example: aat_...
        allowed_origins:
          type: string
          example: "*"
        total_events:
          type: integer
        total_reads:
          type: integer

    LiveSnapshotResponse:
      type: object
      properties:
        project:
          type: string
          example: my-site
        window_seconds:
          type: integer
          example: 60
        timestamp:
          type: number
          example: 1708000060000
        active_visitors:
          type: integer
          description: Unique user_ids in the time window
          example: 12
        active_sessions:
          type: integer
          description: Unique session_ids in the time window
          example: 8
        events_per_minute:
          type: integer
          example: 47
        top_pages:
          type: array
          items:
            type: object
            properties:
              path:
                type: string
                example: /
              visitors:
                type: integer
                example: 5
        top_events:
          type: array
          items:
            type: object
            properties:
              event:
                type: string
                example: page_view
              count:
                type: integer
                example: 32
        recent_events:
          type: array
          description: Last 10 events, newest first
          items:
            type: object
            properties:
              event:
                type: string
              properties:
                type: ['object', 'null']
              user_id:
                type: ['string', 'null']
              timestamp:
                type: number

    AccountResponse:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        github_login:
          type: ['string', 'null']
        tier:
          type: string
          enum: [free, pro]
        created_at:
          type: string
        projects_count:
          type: integer
        projects_limit:
          type: integer
        tier_limits:
          type: object
          properties:
            max_projects:
              type: integer
            max_events_lifetime:
              type: integer
            retention_days:
              type: integer
            rate_limit_rpm:
              type: integer
        monthly_spend_cap_dollars:
          type: ['number', 'null']

    Experiment:
      type: object
      properties:
        id:
          type: string
          example: exp_a1b2c3d4e5f6g7h8
        project_id:
          type: string
        account_id:
          type: string
        name:
          type: string
          example: signup_cta
        variants:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
                example: control
              weight:
                type: integer
                example: 50
        goal_event:
          type: string
          example: signup
        status:
          type: string
          enum: [active, paused, completed]
          example: active
        winner:
          type: ['string', 'null']
          description: Variant key, set when status is completed
        created_at:
          type: string
        updated_at:
          type: string
        completed_at:
          type: ['string', 'null']

    ExperimentResults:
      type: object
      properties:
        variants:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
                example: control
              exposures:
                type: integer
                example: 520
              unique_users:
                type: integer
                example: 480
              conversions:
                type: integer
                example: 48
              conversion_rate:
                type: number
                example: 0.1
        probability_best:
          type: object
          additionalProperties:
            type: number
          example:
            control: 0.06
            new_cta: 0.94
        lift:
          type: object
          additionalProperties:
            type: number
          example:
            control: -0.32
            new_cta: 0.47
        sufficient_data:
          type: boolean
          example: true
        recommendation:
          type: string
          example: "'new_cta' is the winner with 94% probability (47% lift over baseline)"

  parameters:
    ProjectParam:
      name: project
      in: query
      required: true
      description: Project name
      schema:
        type: string
      example: my-site
    SinceParam:
      name: since
      in: query
      required: false
      description: "Start date. Accepts ISO 8601 (`2025-01-01`) or shorthand (`7d`, `30d`). Defaults to 7 days ago."
      schema:
        type: string
      example: 7d
    LimitParam:
      name: limit
      in: query
      required: false
      description: Max results to return (1-1000, default 100)
      schema:
        type: integer
        default: 100
        minimum: 1
        maximum: 1000

paths:
  /track:
    post:
      operationId: trackEvent
      summary: Track a single event
      description: |
        Record an event. Called automatically by the `tracker.js` script running in your visitors' browsers — you don't need to call this directly.

        Add the tracker to your site and it handles everything:
        ```html
        <script defer src="https://api.agentanalytics.sh/tracker.js"
                data-project="my-site" data-token="aat_..."></script>
        ```

        The response is `202 Accepted` — events are queued and written asynchronously.
      tags: [Ingestion]
      security: []
      x-codeSamples:
        - lang: html
          label: Tracker Snippet
          source: |
            <script defer src="https://api.agentanalytics.sh/tracker.js"
                    data-project="my-site"
                    data-token="aat_..."></script>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackRequest'
      responses:
        '202':
          description: Event queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  queued:
                    type: boolean
                    example: true
        '400':
          description: Validation error (missing fields, invalid event name, properties too large)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Error'
                  - type: object
                    properties:
                      reason:
                        type: string
                        enum: [rate_limit, lifetime_event_limit, monthly_spend_cap]

  /track/batch:
    post:
      operationId: trackBatch
      summary: Track multiple events
      description: |
        Record up to 100 events in a single request. All events must use the same project token.

        Like `/track`, this is called by the browser tracker — not by agents or CLI.
      tags: [Ingestion]
      security: []
      x-codeSamples:
        - lang: html
          label: Tracker Snippet
          source: |
            <!-- The tracker batches events automatically -->
            <script defer src="https://api.agentanalytics.sh/tracker.js"
                    data-project="my-site"
                    data-token="aat_..."></script>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackBatchRequest'
      responses:
        '202':
          description: Events queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  queued:
                    type: boolean
                    example: true
                  count:
                    type: integer
                    example: 5
        '400':
          description: Validation error (empty array, exceeds 100 events, invalid event)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /identify:
    post:
      operationId: identify
      summary: Link anonymous user to authenticated identity
      description: |
        Maps `previous_id` (typically an anonymous tracker ID like `anon_xxx`) to `user_id` (the authenticated identity).
        All historical events and sessions with `previous_id` are backfilled to use `user_id`.

        Called automatically by the tracker's `aa.identify("user_123")` method.
        Can also be called server-side after authentication to stitch identities.

        - **Idempotent**: sending the same mapping twice is a no-op
        - **Re-identify**: updating the mapping triggers a new backfill
        - **Project-scoped**: only affects events/sessions in the specified project
      tags: [Ingestion]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, previous_id, user_id]
              properties:
                token:
                  type: string
                  description: Project token (`aat_*`)
                  example: aat_abc123
                previous_id:
                  type: string
                  maxLength: 256
                  description: The anonymous or previous user ID to replace
                  example: anon_k7x9m2abc
                user_id:
                  type: string
                  maxLength: 256
                  description: The authenticated user ID to assign
                  example: user_12345
      responses:
        '202':
          description: Identity mapping queued for processing
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  queued:
                    type: boolean
                    example: true
        '400':
          description: Validation error (missing fields, same IDs, exceeds length)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /stats:
    get:
      operationId: getStats
      summary: Aggregated stats overview
      description: |
        Returns an overview of a project's analytics: time series, top events, session metrics, and totals.

        **CLI:** `npx @agent-analytics/cli stats my-site --since 7d`
      tags: [Analytics]
      security:
        - ApiKey: []
      parameters:
        - $ref: '#/components/parameters/ProjectParam'
        - $ref: '#/components/parameters/SinceParam'
        - name: groupBy
          in: query
          required: false
          description: Time series granularity
          schema:
            type: string
            enum: [hour, day, week, month]
            default: day
      responses:
        '200':
          description: Stats overview
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsResponse'
        '400':
          description: Missing project parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /events:
    get:
      operationId: getEvents
      summary: Raw event log
      description: |
        Returns individual events, newest first. Filter by event name and/or session ID.

        **CLI:** `npx @agent-analytics/cli events my-site --event page_view --since 7d --limit 50`
      tags: [Analytics]
      security:
        - ApiKey: []
      parameters:
        - $ref: '#/components/parameters/ProjectParam'
        - name: event
          in: query
          required: false
          description: Filter by event name
          schema:
            type: string
          example: page_view
        - name: session_id
          in: query
          required: false
          description: Filter by session ID
          schema:
            type: string
        - $ref: '#/components/parameters/SinceParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Event list
          content:
            application/json:
              schema:
                type: object
                properties:
                  project:
                    type: string
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventRow'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /query:
    post:
      operationId: query
      summary: Flexible analytics query
      description: |
        Run custom analytics queries with metrics, grouping, filtering, and ordering.
        This is the most powerful endpoint for building custom reports.

        **Metrics:** `event_count`, `unique_users`, `session_count`, `bounce_rate`, `avg_duration`

        **Group by:** `event`, `date`, `user_id`, `session_id`, `country`

        **Filter operators:** `eq`, `neq`, `gt`, `lt`, `gte`, `lte`, `contains`

        **Filterable fields:** `event`, `user_id`, `date`, `country`, `session_id`, `timestamp`, and any `properties.*` field (e.g. `properties.path`, `properties.browser`)

        **CLI:** `npx @agent-analytics/cli query --project my-site --metrics event_count --group-by event --filter '[{"field":"country","op":"eq","value":"US"}]'`
      tags: [Analytics]
      security:
        - ApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
            examples:
              pageViewsByDay:
                summary: Page views by day
                value:
                  project: my-site
                  metrics: [event_count, unique_users]
                  group_by: [date]
                  filters:
                    - field: event
                      op: eq
                      value: page_view
                  date_from: "2025-01-01"
              topPages:
                summary: Top pages by event count
                value:
                  project: my-site
                  metrics: [event_count]
                  group_by: [event]
                  filters:
                    - field: properties.path
                      op: eq
                      value: /pricing
                  limit: 10
              signupsFromGermany:
                summary: Signups from Germany this week
                value:
                  project: my-site
                  metrics: [event_count, unique_users]
                  filters:
                    - field: event
                      op: eq
                      value: signup
                    - field: country
                      op: eq
                      value: DE
                  date_from: "7d"
              eventsPerCountry:
                summary: Events grouped by country
                value:
                  project: my-site
                  metrics: [event_count, unique_users]
                  group_by: [country]
                  order_by: event_count
                  limit: 20
              containsFilter:
                summary: Events with "blog" in the path
                value:
                  project: my-site
                  metrics: [event_count]
                  filters:
                    - field: properties.path
                      op: contains
                      value: blog
                  group_by: [event]
      responses:
        '200':
          description: Query results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponse'
        '400':
          description: Invalid query (bad metric, group_by, filter, or missing project)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /properties:
    get:
      operationId: getProperties
      summary: Discover event names and property keys
      description: |
        Returns all event names with counts, and a list of known property keys from recent events.
        Useful for building dynamic filters and understanding what data is available.

        **CLI:** `npx @agent-analytics/cli properties my-site`
      tags: [Analytics]
      security:
        - ApiKey: []
      parameters:
        - $ref: '#/components/parameters/ProjectParam'
        - $ref: '#/components/parameters/SinceParam'
      responses:
        '200':
          description: Event names and property keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  project:
                    type: string
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        event:
                          type: string
                          example: page_view
                        count:
                          type: integer
                        unique_users:
                          type: integer
                        first_seen:
                          type: string
                        last_seen:
                          type: string
                  property_keys:
                    type: array
                    items:
                      type: string
                    example: [browser, device, hostname, language, os, path, referrer, screen, title, url]
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /properties/received:
    get:
      operationId: getPropertiesReceived
      summary: Property keys by event name
      description: |
        Returns which property keys appear on which event names, sampled from recent events.
        More detailed than `/properties` — shows the event-to-property mapping.
      tags: [Analytics]
      security:
        - ApiKey: []
      parameters:
        - $ref: '#/components/parameters/ProjectParam'
        - $ref: '#/components/parameters/SinceParam'
        - name: sample
          in: query
          required: false
          description: Number of recent events to sample (100-10000, default 5000)
          schema:
            type: integer
            default: 5000
            minimum: 100
            maximum: 10000
      responses:
        '200':
          description: Property-to-event mapping
          content:
            application/json:
              schema:
                type: object
                properties:
                  project:
                    type: string
                  sample_size:
                    type: integer
                    example: 5000
                  since:
                    type: string
                  properties:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          example: path
                        event:
                          type: string
                          example: page_view
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /sessions:
    get:
      operationId: getSessions
      summary: List sessions
      description: |
        Returns individual session records with duration, entry/exit pages, event count, and bounce status.
        Filter by user ID and/or bounce status.
      tags: [Analytics]
      security:
        - ApiKey: []
      parameters:
        - $ref: '#/components/parameters/ProjectParam'
        - $ref: '#/components/parameters/SinceParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: user_id
          in: query
          required: false
          description: Filter by user ID
          schema:
            type: string
        - name: is_bounce
          in: query
          required: false
          description: Filter by bounce status (0 or 1)
          schema:
            type: integer
            enum: [0, 1]
      responses:
        '200':
          description: Session list
          content:
            application/json:
              schema:
                type: object
                properties:
                  project:
                    type: string
                  sessions:
                    type: array
                    items:
                      $ref: '#/components/schemas/SessionRow'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /breakdown:
    get:
      operationId: getBreakdown
      summary: Top property values
      description: |
        Breaks down events by a specific property, showing the top values by count.
        Useful for top pages, referrers, browsers, countries, UTM sources, etc.

        Use `property=country` to see visitor geography (ISO 3166-1 alpha-2 codes). Country is stored as a dedicated column for fast queries.

        **CLI:** `npx @agent-analytics/cli breakdown my-site --property path --event page_view`
      tags: [Analytics]
      security:
        - ApiKey: []
      parameters:
        - $ref: '#/components/parameters/ProjectParam'
        - name: property
          in: query
          required: true
          description: "Property key to break down by (alphanumeric + underscores, max 128 chars). Use `country` for visitor geography."
          schema:
            type: string
          example: path
        - name: event
          in: query
          required: false
          description: Filter to a specific event name
          schema:
            type: string
          example: page_view
        - $ref: '#/components/parameters/SinceParam'
        - name: limit
          in: query
          required: false
          description: Max values to return (1-1000, default 20)
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 1000
      responses:
        '200':
          description: Property breakdown
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BreakdownResponse'
        '400':
          description: Missing property parameter or invalid property key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /insights:
    get:
      operationId: getInsights
      summary: Period-over-period comparison
      description: |
        Compares the current period against the previous period of the same length.
        Returns change metrics and an overall trend indicator (`growing`, `stable`, `declining`).

        **CLI:** `npx @agent-analytics/cli insights my-site --period 7d`
      tags: [Analytics]
      security:
        - ApiKey: []
      parameters:
        - $ref: '#/components/parameters/ProjectParam'
        - name: period
          in: query
          required: false
          description: Comparison period
          schema:
            type: string
            enum: [1d, 7d, 14d, 30d, 90d]
            default: 7d
      responses:
        '200':
          description: Insights with trend
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResponse'
        '400':
          description: Invalid period
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /pages:
    get:
      operationId: getPages
      summary: Entry/exit page stats
      description: |
        Returns top entry pages, exit pages, or both — with session count, bounce rate, and average duration per page.

        **CLI:** `npx @agent-analytics/cli pages my-site --type entry`
      tags: [Analytics]
      security:
        - ApiKey: []
      parameters:
        - $ref: '#/components/parameters/ProjectParam'
        - name: type
          in: query
          required: false
          description: Page type to query
          schema:
            type: string
            enum: [entry, exit, both]
            default: entry
        - $ref: '#/components/parameters/SinceParam'
        - name: limit
          in: query
          required: false
          description: Max pages to return (1-1000, default 20)
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 1000
      responses:
        '200':
          description: Page stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagesResponse'
        '400':
          description: Invalid page type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /sessions/distribution:
    get:
      operationId: getSessionDistribution
      summary: Session duration histogram
      description: |
        Returns a histogram of session durations in predefined buckets, with the median bucket and engaged session percentage (sessions >= 30 seconds).

        **CLI:** `npx @agent-analytics/cli sessions distribution my-site`
      tags: [Analytics]
      security:
        - ApiKey: []
      parameters:
        - $ref: '#/components/parameters/ProjectParam'
        - $ref: '#/components/parameters/SinceParam'
      responses:
        '200':
          description: Session duration distribution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionDistributionResponse'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /heatmap:
    get:
      operationId: getHeatmap
      summary: Day-of-week x hour traffic grid
      description: |
        Returns a grid of events by day-of-week and hour-of-day (UTC), with peak detection.
        Useful for understanding when your users are most active.

        **CLI:** `npx @agent-analytics/cli heatmap my-site`
      tags: [Analytics]
      security:
        - ApiKey: []
      parameters:
        - $ref: '#/components/parameters/ProjectParam'
        - $ref: '#/components/parameters/SinceParam'
      responses:
        '200':
          description: Heatmap grid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeatmapResponse'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /funnel:
    post:
      operationId: getFunnel
      summary: Funnel analysis
      description: |
        Ad-hoc funnel analysis: track where users drop off across a sequence of 2-8 events.

        Each step can have optional property filters (e.g. only count `page_view` events where `path=/pricing`).
        The conversion window limits how long users have from entering step 1 to completing the final step.

        Step 1 is capped at 10,000 users to prevent unbounded scans.

        **CLI:** `npx @agent-analytics/cli funnel my-site --steps "page_view,signup,purchase" --window 168 --breakdown country`
      tags: [Funnels]
      security:
        - ApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunnelRequest'
            examples:
              basicFunnel:
                summary: Basic 3-step funnel
                value:
                  project: my-site
                  steps:
                    - event: page_view
                    - event: signup
                    - event: purchase
              filteredFunnel:
                summary: Funnel with per-step filters
                value:
                  project: my-site
                  steps:
                    - event: page_view
                      filters:
                        - property: path
                          op: eq
                          value: /pricing
                    - event: signup
                    - event: purchase
                  conversion_window_hours: 72
                  since: 30d
              breakdownFunnel:
                summary: Funnel segmented by country
                value:
                  project: my-site
                  steps:
                    - event: page_view
                    - event: signup
                    - event: purchase
                  breakdown: country
                  breakdown_limit: 5
      responses:
        '200':
          description: Funnel analysis results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunnelResponse'
        '400':
          description: Validation error (invalid steps, filters, window, or count_by)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /retention:
    get:
      operationId: getRetention
      summary: Cohort retention analysis
      description: |
        Track what percentage of users return over time using cohort analysis.
        "Of users who first appeared in week X, what % came back in subsequent weeks?"

        By default uses session-based retention — a user is "retained" if they have any return visit
        (session) in a subsequent period. When `event` is specified, switches to event-based retention
        and only counts that specific event for first-seen and return.

        Capped at 10,000 users per query. Older cohorts appear first (top-down).

        **CLI:** `npx @agent-analytics/cli retention my-site --period week --cohorts 8`
      tags: [Analytics]
      security:
        - ApiKey: []
      parameters:
        - $ref: '#/components/parameters/ProjectParam'
        - name: period
          in: query
          schema:
            type: string
            enum: [day, week, month]
            default: week
          description: Cohort grouping period
        - name: cohorts
          in: query
          schema:
            type: integer
            default: 8
            minimum: 1
            maximum: 30
          description: "Number of cohort periods (max: day=30, week=12, month=12)"
        - name: event
          in: query
          schema:
            type: string
          description: First-seen event filter (e.g. `signup`). Switches to event-based retention.
        - name: returning_event
          in: query
          schema:
            type: string
          description: What counts as "returned" (defaults to same as `event`)
        - $ref: '#/components/parameters/SinceParam'
      responses:
        '200':
          description: Cohort retention data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetentionResponse'
              examples:
                weeklyRetention:
                  summary: 4-week retention
                  value:
                    period: week
                    cohorts:
                      - date: "2026-01-27"
                        users: 142
                        retained: [142, 64, 55, 46]
                        rates: [1.0, 0.451, 0.387, 0.324]
                      - date: "2026-02-03"
                        users: 128
                        retained: [128, 54, 46]
                        rates: [1.0, 0.422, 0.359]
                      - date: "2026-02-10"
                        users: 156
                        retained: [156, 70]
                        rates: [1.0, 0.449]
                      - date: "2026-02-17"
                        users: 134
                        retained: [134]
                        rates: [1.0]
                    average_rates: [1.0, 0.441, 0.373, 0.324]
                    users_analyzed: 560
        '400':
          description: Invalid period or cohorts value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /stream:
    get:
      operationId: streamEvents
      summary: Live event stream (SSE)
      description: |
        Server-Sent Events stream of real-time events as they arrive.

        Events are delivered as `event: track` SSE messages. Optionally filter by event name and/or property values.

        The stream sends a `:heartbeat` comment every 30 seconds as a keepalive. Auto-disconnects after 30 minutes of no matching events.

        **curl example:**
        ```bash
        curl -N "https://api.agentanalytics.sh/stream?project=my-site&events=page_view,signup" \
          -H "X-API-Key: aak_..."
        ```
      tags: [Streaming]
      security:
        - ApiKey: []
      parameters:
        - name: project
          in: query
          required: false
          description: Project name. Defaults to first project.
          schema:
            type: string
          example: my-site
        - name: events
          in: query
          required: false
          description: Comma-separated event name filter. Omit for all events.
          schema:
            type: string
          example: page_view,signup
        - name: filter
          in: query
          required: false
          description: "Property filter as `key:value` pairs separated by `;`. Multiple filters use AND logic."
          schema:
            type: string
          example: "path:/pricing;browser:Chrome"
      responses:
        '200':
          description: SSE event stream
          content:
            text/event-stream:
              schema:
                type: string
                description: |
                  SSE stream with events:
                  - `event: connected` — sent once on connection with active filters
                  - `event: track` — each matching event with `id` for reconnection
                  - `:heartbeat` — keepalive comment every 30s
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many concurrent streams (max 10 per account)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /live:
    get:
      operationId: getLiveSnapshot
      summary: Live snapshot (real-time)
      description: |
        Returns a point-in-time snapshot of active visitors, sessions, events per minute, top pages, top events, and recent events.

        Reads from an in-memory ring buffer — no D1 query. Data is available only while events are being streamed (the ring buffer evicts events older than 5 minutes).

        **curl example:**
        ```bash
        curl "https://api.agentanalytics.sh/live?project=my-site&window=60" \
          -H "X-API-Key: aak_..."
        ```
      tags: [Streaming]
      security:
        - ApiKey: []
      parameters:
        - name: project
          in: query
          required: false
          description: Project name. Defaults to first project.
          schema:
            type: string
          example: my-site
        - name: window
          in: query
          required: false
          description: Time window in seconds (10-300, default 60)
          schema:
            type: integer
            default: 60
            minimum: 10
            maximum: 300
      responses:
        '200':
          description: Live snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSnapshotResponse'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /projects:
    get:
      operationId: listProjects
      summary: List all projects
      description: |
        Returns all projects under your account with event/read counts and tier info.

        **CLI:** `npx @agent-analytics/cli projects`
      tags: [Projects]
      security:
        - ApiKey: []
      responses:
        '200':
          description: Project list
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
                  has_api_key:
                    type: boolean
                  project_limit:
                    type: integer
                  tier:
                    type: string
                    enum: [free, pro]
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      operationId: createProject
      summary: Create a new project
      description: |
        Creates a new project and provisions a D1 database if needed.
        Returns the project token and a ready-to-use tracking snippet.

        Project names must be alphanumeric with hyphens, underscores, or dots (max 64 chars).
        If a project with the same name already exists, returns the existing project (idempotent).

        **CLI:** `npx @agent-analytics/cli init my-new-site`
      tags: [Projects]
      security:
        - ApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  description: "Project name (alphanumeric, hyphens, underscores, dots; max 64 chars)"
                  pattern: "^[a-zA-Z0-9._-]{1,64}$"
                  example: my-new-site
                allowed_origins:
                  type: string
                  description: "Allowed origins for CORS. Use `*` for any origin."
                  default: "*"
                  example: "https://example.com"
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  project_token:
                    type: string
                    example: aat_...
                  allowed_origins:
                    type: string
                  snippet:
                    type: string
                    description: Ready-to-use HTML tracking snippet
                  api_example:
                    type: string
                    description: Example curl command for querying stats
        '200':
          description: Project already exists (returned existing project)
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  project_token:
                    type: string
                  existing:
                    type: boolean
                    example: true
        '400':
          description: Missing name or invalid project name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Project limit reached for your tier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Duplicate origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /projects/{id}:
    get:
      operationId: getProject
      summary: Get project details
      description: Returns a single project with its configuration and today's usage stats.
      tags: [Projects]
      security:
        - ApiKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Project details
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  project_token:
                    type: string
                  allowed_origins:
                    type: string
                  usage_today:
                    type: object
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not your project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    patch:
      operationId: updateProject
      summary: Update a project
      description: |
        Update a project's name and/or allowed origins.

        **Note:** Project name cannot be changed after events have been recorded.
      tags: [Projects]
      security:
        - ApiKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: New project name
                allowed_origins:
                  type: string
                  description: New allowed origins
      responses:
        '200':
          description: Updated project
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  project_token:
                    type: string
                  allowed_origins:
                    type: string
        '400':
          description: Invalid name or no fields to update
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Name locked (events recorded) or duplicate name/origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      operationId: deleteProject
      summary: Delete a project
      description: |
        Soft-deletes a project. Revokes the project token (no new events can be written).
        Event data is preserved in the database but no longer accessible via API.
      tags: [Projects]
      security:
        - ApiKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Project deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  deleted:
                    type: string
                    description: Project ID
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not your project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /account:
    get:
      operationId: getAccount
      summary: Get account info
      description: |
        Returns your account details, tier, limits, and project count.

        **CLI:** `npx @agent-analytics/cli whoami`
      tags: [Account]
      security:
        - ApiKey: []
      responses:
        '200':
          description: Account info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /account/revoke-key:
    post:
      operationId: revokeKey
      summary: Revoke and regenerate API key
      description: |
        Revokes the current API key and generates a new one. The old key stops working immediately.
        The new key is returned in the response — this is the only time it's shown.
      tags: [Account]
      security:
        - ApiKey: []
      responses:
        '200':
          description: New API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  api_key:
                    type: string
                    description: The new API key. Save this — it won't be shown again.
                    example: aak_...
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /experiments/config:
    get:
      operationId: getExperimentConfig
      summary: Get experiment config for tracker.js
      description: |
        Returns active experiments for a project, used by `tracker.js` to assign variants client-side.
        This is a **public** endpoint — authenticated by project token (same as `/track`), not API key.

        You don't call this directly — the tracker fetches it automatically on page load.
      tags: [Experiments]
      security: []
      parameters:
        - name: token
          in: query
          required: true
          description: Project token (`aat_*`)
          schema:
            type: string
          example: aat_51da22cdcab084ae1cdb50fd4841c642f0dafdb1d9adfa6b
      responses:
        '200':
          description: Active experiments for this project
          content:
            application/json:
              schema:
                type: object
                properties:
                  experiments:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          example: signup_cta
                        variants:
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                              weight:
                                type: integer
        '400':
          description: Missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /experiments:
    post:
      operationId: createExperiment
      summary: Create an A/B experiment
      description: |
        Creates a new experiment for the specified project. **Pro tier only.**

        Variants are assigned client-side by `tracker.js` using a deterministic hash — same user always gets the same variant. Exposure events (`$experiment_exposure`) are tracked automatically.

        **CLI:** `npx @agent-analytics/cli experiments create my-site --name signup_cta --variants control,new_cta --goal signup`
      tags: [Experiments]
      security:
        - ApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [project, name, variants, goal_event]
              properties:
                project:
                  type: string
                  description: Project name
                  example: my-site
                name:
                  type: string
                  description: "Experiment name (alphanumeric, hyphens, underscores; max 64 chars)"
                  pattern: "^[a-zA-Z0-9_-]{1,64}$"
                  example: signup_cta
                variants:
                  type: array
                  description: 2-4 variant keys
                  minItems: 2
                  maxItems: 4
                  items:
                    type: string
                  example: [control, new_cta]
                goal_event:
                  type: string
                  description: Event name to measure conversion (max 256 chars)
                  example: signup
                weights:
                  type: array
                  description: "Optional traffic weights per variant (must sum to 100). Defaults to equal split."
                  items:
                    type: integer
                  example: [50, 50]
      responses:
        '201':
          description: Experiment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experiment'
        '400':
          description: Validation error (missing fields, invalid variants, duplicate name)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Pro tier required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Experiment name already exists in this project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      operationId: listExperiments
      summary: List experiments
      description: |
        Returns all experiments for a project (active, paused, and completed).

        **CLI:** `npx @agent-analytics/cli experiments list my-site`
      tags: [Experiments]
      security:
        - ApiKey: []
      parameters:
        - $ref: '#/components/parameters/ProjectParam'
      responses:
        '200':
          description: Experiment list
          content:
            application/json:
              schema:
                type: object
                properties:
                  experiments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Experiment'
        '400':
          description: Missing project parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /experiments/{id}:
    get:
      operationId: getExperiment
      summary: Get experiment with live results
      description: |
        Returns experiment config plus live Bayesian A/B test results.

        Results include `probability_best` (probability each variant is the winner), `lift` (relative improvement over baseline), `sufficient_data` (whether enough exposures exist), and a human-readable `recommendation`.

        The system needs ~100 exposures per variant before results are statistically significant.

        **CLI:** `npx @agent-analytics/cli experiments get exp_abc123`
      tags: [Experiments]
      security:
        - ApiKey: []
      parameters:
        - name: id
          in: path
          required: true
          description: Experiment ID (`exp_*`)
          schema:
            type: string
      responses:
        '200':
          description: Experiment with results
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Experiment'
                  - type: object
                    properties:
                      results:
                        $ref: '#/components/schemas/ExperimentResults'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not your experiment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Experiment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    patch:
      operationId: updateExperiment
      summary: Update experiment status
      description: |
        Update an experiment's status. Valid transitions:
        - `active` → `paused` or `completed`
        - `paused` → `active` or `completed`
        - `completed` is terminal (no further changes)

        When completing, optionally set `winner` to a variant key.

        **CLI:**
        - `npx @agent-analytics/cli experiments pause exp_abc123`
        - `npx @agent-analytics/cli experiments resume exp_abc123`
        - `npx @agent-analytics/cli experiments complete exp_abc123 --winner new_cta`
      tags: [Experiments]
      security:
        - ApiKey: []
      parameters:
        - name: id
          in: path
          required: true
          description: Experiment ID (`exp_*`)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [active, paused, completed]
                  description: New status
                winner:
                  type: string
                  description: Variant key to declare as winner (only when completing)
      responses:
        '200':
          description: Updated experiment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experiment'
        '400':
          description: Invalid status transition or missing status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not your experiment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Experiment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      operationId: deleteExperiment
      summary: Delete an experiment
      description: |
        Permanently deletes an experiment. Event data (exposures, conversions) is preserved in the events table — only the experiment config is removed.

        **CLI:** `npx @agent-analytics/cli experiments delete exp_abc123`
      tags: [Experiments]
      security:
        - ApiKey: []
      parameters:
        - name: id
          in: path
          required: true
          description: Experiment ID (`exp_*`)
          schema:
            type: string
      responses:
        '200':
          description: Experiment deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  deleted:
                    type: string
                    description: Experiment ID
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Not your experiment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Experiment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /tracker.js:
    get:
      operationId: getTracker
      summary: JavaScript tracker script
      description: |
        Returns the lightweight (~2KB) JavaScript tracker. Embed it in your HTML:
        ```html
        <script defer src="https://api.agentanalytics.sh/tracker.js"
                data-project="my-site" data-token="aat_..."></script>
        ```

        The tracker auto-collects: page views, path, URL, hostname, title, referrer, screen size, browser, OS, device type, language, and UTM parameters. No cookies are used.

        ## Script Attributes

        | Attribute | Required | Default | Description |
        |-----------|----------|---------|-------------|
        | `data-project` | Yes | — | Project name |
        | `data-token` | Yes | — | Project token (`aat_*`) |
        | `data-link-domains` | No | Disabled | Comma-separated domains for cross-subdomain identity linking (see below) |
        | `data-do-not-track` | No | `"false"` | Set to `"true"` to honor the browser's Do Not Track signal. Tracking is silently skipped when DNT is enabled. |
        | `data-track-outgoing` | No | `"false"` | Set to `"true"` to auto-track clicks on outgoing (external) links. Fires an `outgoing_link` event with `href`, `text`, and `hostname` properties. |
        | `data-heartbeat` | No | Disabled | Seconds for time-on-page tracking (e.g. `"15"`). Min 15s. Adds `time_on_page` to page_view on exit. |
        | `data-track-errors` | No | `"false"` | Set to `"true"` to auto-track JS errors as `$error` events with `{ message, source, line, col }`. Max 5 per page view. |

        ## Cross-Subdomain Tracking

        By default, each subdomain has its own anonymous user ID (stored in `localStorage`, which is per-origin). To track users across subdomains — e.g. for funnels spanning `example.com` → `docs.example.com` → `app.example.com` — add `data-link-domains`:

        ```html
        <script defer src="https://api.agentanalytics.sh/tracker.js"
                data-project="my-site" data-token="aat_..."
                data-link-domains="example.com"></script>
        ```

        **How it works:** When a user clicks a link to a sibling subdomain, the tracker appends `?_aa=<user_id>` to the URL. The tracker on the destination page adopts that ID and strips the parameter from the URL. No cookies are involved.

        - Load the **same tracker snippet** (same project + token) on all subdomains you want to link
        - The `hostname` property is collected on every event, so you can still filter/breakdown by subdomain
        - Multiple root domains can be comma-separated: `data-link-domains="example.com, other.com"`
        - Without this attribute, no click listener is registered and there is zero overhead

        ## Declarative Event Tracking

        Track clicks without writing JavaScript. Add `data-aa-event` to any HTML element and the tracker handles it automatically.

        ```html
        <button data-aa-event="cta_click" data-aa-event-id="hero_signup">Get Started</button>
        ```

        When clicked, this fires a `cta_click` event with `{ id: "hero_signup" }` as properties.

        Add custom properties with `data-aa-event-*` attributes:

        ```html
        <a href="/pricing" data-aa-event="cta_click" data-aa-event-id="nav_pricing" data-aa-event-section="header">
          Pricing
        </a>
        ```

        This fires `cta_click` with `{ id: "nav_pricing", section: "header" }`.

        **When to use declarative vs programmatic tracking:**

        | Use declarative (`data-aa-event`) | Use programmatic (`window.aa.track()`) |
        |-----------------------------------|----------------------------------------|
        | Simple click tracking on buttons, links, CTAs | Events that aren't triggered by clicks (form submissions, scroll milestones, timers) |
        | Static HTML sites, CMS platforms | When you need to compute property values dynamically |
        | Non-technical team members adding tracking | When the event depends on application state (e.g., cart total, user tier) |
        | Quick setup — no JavaScript needed | When you need conditional logic (only track if user is logged in) |

        Both approaches produce identical events in your analytics. You can mix them freely on the same page.

        **Notes:**
        - The tracker uses a single document-level `click` listener — no per-element binding
        - Events bubble up, so `data-aa-event` works on child elements too (the tracker walks up the DOM via `closest()`)
        - All `data-aa-event-*` property values are strings. For non-string data, use `window.aa.track()` instead

        ## Do Not Track

        Add `data-do-not-track="true"` to honor the browser's [Do Not Track](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/DNT) signal:

        ```html
        <script defer src="https://api.agentanalytics.sh/tracker.js"
                data-project="my-site" data-token="aat_..."
                data-do-not-track="true"></script>
        ```

        When enabled, the tracker silently exits if `navigator.doNotTrack === '1'`. This is **opt-in** — without the attribute, DNT is not checked.

        ## Disable Tracking

        Users or developers can disable tracking entirely via localStorage:

        ```js
        localStorage.setItem('aa_disabled', 'true');  // disable tracking
        localStorage.removeItem('aa_disabled');         // re-enable tracking
        ```

        When `aa_disabled` is set to `'true'`, the tracker silently exits on page load. This is useful for:
        - Internal team members who don't want to pollute analytics
        - QA and testing environments
        - Implementing a user-facing opt-out toggle

        ## Outgoing Link Tracking

        Track clicks on external links automatically. Add `data-track-outgoing="true"` to the script tag:

[...]
